 h1, h2, p, a {
        text-align: center;
      }
 .container {
     width: 90%;
     max-width: 680px;
 }

 h1,
 .container,
 .output {
     margin: 20px auto;
 }

 .portfolio-menu {
     text-align: center;
 }

 .profile_photo {
     margin: auto;
     display: block;
 }